.home-container {
  display: flex;
  margin: 2rem;
  justify-content: space-between;
}
ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  font-weight: bold;
  margin-top: 2rem;
}
.mt-2 {
  margin-top: 2rem;
}
.products-list {
  display: flex;
  flex-flow: row wrap;
  width: 86%;
}
.box {
  display: flex;
  width: 24rem;
  margin: 1rem;
  flex-direction: column;
}
.img {
  width: 100%;
}
.img:hover {
  mix-blend-mode: overlay;
}
.img-bg:hover {
  background-color: #2b2a2a;
}
.detail-container {
  text-align: start;
}
.bold {
  font-weight: bold;
}
.material-color-info {
  margin-bottom: 1rem;
  font-weight: 500;
}
.amount {
  color: #7a5c57;
}
.text-position {
  position: relative;
  top: 58%;
  color: white;
}
.pagination {
  display: flex;
  width: 100%;
  justify-content: center;
}
.active-circle-btn,
.circle-btn {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  margin: 4px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.active-circle-btn {
  background-color: #bfbdbd;
}
.selective-filter {
  display: flex;
  width: 100%;
}
.tags {
  margin: 2rem 1rem 0;
}
.tag-btn {
  height: 2rem;
  display: flex;
  width: 6rem;
  justify-content: space-around;
  align-items: center;
  font-size: large;
  text-transform: capitalize;
  border: none;
}
li {
  cursor: pointer;
}
.active-link {
  font-weight: bold;
}
